
body {
  background: crimson;
  font-family: monospace;
  color: white;
  width: 800px;
  margin: auto;
  padding-top: 50px;
}
.chart div {
  background: purple;
  color: white;
  font-family: Helvetica;
  margin-bottom: 2px;
  width: 2px;
  padding: 4px;
}
